#avatar {
    width: 54px;
    margin:0;
    margin-right:10px;
}

#avatarSideNav {
    width: 100px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
}

#burger {
    margin-top: 10px;
}
.navlogo {
    display:inline-block;
    font-size:28px;
    font-weight:700;
    color:black;
    padding-left:18px;
    padding-top:5px;
    letter-spacing: -.035em;
}

.navlogo:hover {
    text-decoration: underline;
}

.navLinks {
    width:60%;
    float:right;
    text-align: right;
}

.navLinks li {

    float:right;
}

.loggedInUserLinks {
  min-width:410px;
}

.loggedInUserLinks button {
    display:inline-block;
    float:left;
    margin-top:12px;
    margin-right:4px;
}

.pillButton {
    background-color:rgb(0, 166, 255);
    color:white;
    border-radius:20px;
    border:none;
    padding:12px 16px 10px 16px;
    text-transform: uppercase;
    font-weight: 600;
    box-sizing: border-box;
    user-select: none;
    cursor: pointer;
    text-align: center;
    margin-right:6px;
    margin-left:6px;
    box-shadow:0 2px 4px gray;
}

.pillButton:hover {
    color: black;
}

.navReg {
    font-size:28px;
    opacity:.5;
}