#avatar {
    width: 50px;
    margin-left: 10px;
    margin-right: 10px;
    
}

#avatarSideNav {
    width: 100px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
}

#burger {
    margin-top: 10px;
}
.navlogo {
    display:inline-block;
    font-size:28px;
    font-weight:700;
    color:black;
    padding-left:18px;
    padding-top:5px;
    letter-spacing: -.035em;
}