body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:#3a474e;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/*  ClearFix  */
/*  The ClearFix by Tony Aslett and Nicholas Gallagher */
.group:before,
.group:after {
content: "";
display: table; }

.group:after {
clear: both; }

.group {
zoom: 1;
/* IE6&7 */ }
