.VisionCurrent {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../Result/images/visionCurrentBanner.jpg);
    height: 60%;
}

#resultL {
    display:flex; justify-content:center;
}