.logo {
    width: 140px;
    height: 123%;
    object-fit: contain;
    margin-left: 10px;



}

#nav-mobile {
    margin-right: 50px;
    margin-top: 10px;

}

#banner {
    /* border-radius: 10px; */
    /* background-image: url(); */
    height: 400px;
    width: 100%;   
    justify-content: center; 
    align-items: center;
    overflow: hidden; 
    background-size: cover;
   
}

#banner-title {
    font-weight: 900;
}

nav {
    height: 80px;
    margin: 0;
}

.my-title {
    font-weight: 800;
    color:black;
    font-size:16px;
}

#rowSecond {
    margin-top: 50px;
}

.videoBanners {
/* position: absolute; */
/* height: 1000px; */
width: 100%;
display: inline-block;
}

.BannerTitle {
    z-index: 2;
    color: black;
}

#bannerLogo {
   height: 20%;
   position: fixed;
  
  background-size: cover;
  left: 40%;
  top: 20%;
  right: auto;
    
}
#Welcome {
    font-weight: 900;
    color: white;
    margin-top: 10%;
}

.btn {
    border-radius: 30px;
}

#getStarted {
    margin-top: 20px ;
    margin-bottom: 20px;
}

#What {
    font-weight: 700;
    font-size:40px;
}

.welcomeTo {
    color:white;
    font-size:48px;
    text-shadow:0 0 8px black;
    margin-top:80px;
    user-select: none;
}

.imageLogo {
    color:white;
    font-size:78px;
    text-shadow: 0 0 8px black;
    margin-top:-20px;
    letter-spacing:-.01em;
    user-select: none;
}

.container {
  
}

.mainReg {
    font-size:48px;
    position: relative;
    top:-28px;
    opacity:.5;
}

.bodyReg {
    font-size:26px;
    position: relative;
    top:-16px;
    opacity:.5;
}

.welcomeBox {
    background-color:white;
}